<h1>Book List Home Page</h1>
<form action="/logout" method="POST">
    <button type="submit">Log Out</button>
</form>

<a href="/book-search">Book Search</a>
<a href="/currently-reading">Currently Reading</a>
<a href="/want-to-read">Want to Read</a>
<a href="/already-read">Already read</a>